snippet todoc "TODO comment" b
% TODO(`id -u -n`): $0
endsnippet

snippet msfig "Figure for Management Science manuscript" b
\FIGURE
{% Art
}
{% Caption and label
}
{% Notes (optional, but argument must be present)
}
endsnippet

snippet mstab "Table environment for Management Science manuscript" b
\TABLE
{% Caption and label
}
{% Content
}
{% Notes (optional, but argument must be present)
}
endsnippet
